services:
  api:
    image: 590200200492.dkr.ecr.us-east-1.amazonaws.com/munchspace-api:${IMAGE_TAG}
    environment:
      NODE_ENV: production
    env_file:
      - .env.production
    ports:
      - "3000:3000"
